{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <a href="{% url 'post_detail' pk=post.pk %}">
            <h2>{{ post.title }}</h2>
            {% if post.cover %}
                <img class="img-preview" src="{{ post.cover.url}}" alt="{{ post.title }}">
            {% endif %}
            </a>
            <p class="post-preview">{{ post.text|linebreaksbr }} </p>
            <p><a class="read-more" href="{% url 'post_detail' pk=post.pk %}">Read more...</a></p>
            <div class="date">
                <p>published: {{ post.published_date }} |
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.approved_comments.count }} comments</a>
                </p>
            </div>

        </div>
    {% endfor %}
{% endblock %}